Block-AADUser/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "aggregate-SNOW-tickets",
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2016-06-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('logicAppLocation')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azuresentinel-7_name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('service-now-7_name'))]"
      ],
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered_2": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/subscribe"
              }
            }
          },
          "actions": {
            "Alert_-_Get_incident": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Cases/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}"
              }
            },
            "Condition": {
              "actions": {
                "Update_Record": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "comments": "Title: @{body('Alert_-_Get_incident')?['properties']?['Title']}\nSeverity: @{body('Alert_-_Get_incident')?['properties']?['Severity']}\nIncident number: @{body('Alert_-_Get_incident')?['properties']?['CaseNumber']}\nAlert id: @{triggerBody()?['SystemAlertId']}\nDescription: @{triggerBody()?['Description']}\nEntities: @{triggerBody()?['Entities']}",
                      "short_description": "Aggregation Incident"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['service-now']['connectionId']"
                      }
                    },
                    "method": "put",
                    "path": "/api/now/v2/table/@{encodeURIComponent('incident')}/@{encodeURIComponent(substring(concat(body('Alert_-_Get_incident')?['properties']?['Labels']),add(indexOf(concat(body('Alert_-_Get_incident')?['properties']?['Labels']),'sysid'), 5),32))}"
                  }
                }
              },
              "runAfter": {
                "Alert_-_Get_incident": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Add_labels_to_incident": {
                    "runAfter": {
                      "Create_Record": [
                        "Succeeded"
                      ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                      "body": {
                        "Labels": [
                          {
                            "Label": "sysid@{body('Create_Record')?['result']?['sys_id']}"
                          },
                          {
                            "Label": "SNOW"
                          },
                          {
                            "Label": "@body('Create_Record')?['result']?['number']"
                          }
                        ]
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                      },
                      "method": "put",
                      "path": "/Case/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/AddLabels"
                    }
                  },
                  "Create_Record": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                      "body": {
                        "comments": "Title: @{body('Alert_-_Get_incident')?['properties']?['Title']}\nSeverity: @{body('Alert_-_Get_incident')?['properties']?['Severity']}\nIncident number: @{body('Alert_-_Get_incident')?['properties']?['CaseNumber']}\nAlert id: @{triggerBody()?['SystemAlertId']}\nDescription: @{triggerBody()?['Description']}\nEntities: @{triggerBody()?['Entities']}",
                        "severity": "@body('Alert_-_Get_incident')?['properties']?['Severity']",
                        "short_description": "@body('Alert_-_Get_incident')?['properties']?['Description']"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['service-now']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/api/now/v2/table/@{encodeURIComponent('incident')}",
                      "queries": {
                        "sysparm_display_value": true,
                        "sysparm_exclude_reference_link": true
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "contains": [
                      "@body('Alert_-_Get_incident')?['properties']?['Labels']",
                      "SNOW"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/azuresentinel')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuresentinel-7_name'))]",
                "connectionName": "[parameters('azuresentinel-7_name')]"
              },
              "service-now": {
                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/service-now')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('service-now-7_name'))]",
                "connectionName": "[parameters('service-now-7_name')]"
              }
            }
          }
        }
      },
      "tags": {
        "LogicAppsCategory": "[parameters('LogicAppsCategory_Tag')]"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('service-now-7_name')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/service-now')]"
        },
        "displayName": "[parameters('service-now-7_displayName')]",
        "parameterValues": {
          "instance": "[parameters('service-now-7_instance')]",
          "username": "[parameters('service-now-7_username')]",
          "password": "[parameters('service-now-7_password')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('azuresentinel-7_name')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/azuresentinel')]"
        },
        "displayName": "[parameters('azuresentinel-7_displayName')]",
        "parameterValues": {
          "token:clientId": "[parameters('azuresentinel-7_token:clientId')]",
          "token:clientSecret": "[parameters('azuresentinel-7_token:clientSecret')]",
          "token:TenantId": "[parameters('azuresentinel-7_token:TenantId')]",
          "token:resourceUri": "[parameters('azuresentinel-7_token:resourceUri')]",
          "token:grantType": "[parameters('azuresentinel-7_token:grantType')]"
        }
      }
    }
  ],
  "outputs": {}
}
